body { 
    background-image:url('backgroundforADM.jpg');
 }

#content {
margin: 0 auto;

}


.math-header {
    margin-left: 40px;
    max-width: 800px;
    display: inline-block;
    background: #afeb10;
    border-top: 1px solid #ccc;
    border-radius: 15px;
    color: ##FFBF00;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    text-shadow: 0 0 0
}

.writing {
    max-width: 800px;
    border-radius: 15px;
    margin-left: 40px;
    background: white;
    opacity: 0.8;
    display: inline-block;
    padding: 10px;
}

.showhideall {
    background: white;
    opacity: 0.8;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin-left: 300px;

}

input {
  color: #F2072E;
  font-size: 30px;
  margin-left: 40px;
}

.end {
    background: white;
    border-radius: 15px;
    width: 600px;
    margin: 0 auto;
    opacity: 0.8;
    padding: 10px;


}